backend:
  name: git-gateway
  branch: main

media_folder: "static/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "products"
    label: "Products"
    label_singular: "Product"
    description: "Manage your product listings"
    files:
      - file: "products.json"
        label: "Products List"
        name: "products"
        format: "json"
        fields:
          - label: "Products"
            name: "products"
            widget: "list"
            fields:
              - { label: "Name", name: "name", widget: "string" }
              - { label: "Image", name: "image", widget: "image" }
              - { label: "Description", name: "description", widget: "text" }